
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  border-radius: 20px;
  background: linear-gradient(to right, #090979,#00d4ff);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.BUTTON {
  float: left;
  overflow: hidden;
  border: #090809;
  background-color: #080809;
  border-radius: 30px;
}

.BUTTON .btn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius:20px ;
}

.navbar a:hover, .BUTTON:hover .dropbtn {
  background-color: rgb(7, 7, 7);
  border-radius: 20px;
}

.btn {
  background-color: #04070a;
  color: white;
  padding: 10px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
 }

 .btn:hover, .dropbtn:focus {
  background-color: #9107bb;
 }

.BUTTON-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.BUTTON-content a {
  float: none;
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.BUTTON-content a:hover {
  background-color: #da3535;
}

.BUTTON:hover .BUTTON-content {
  display: block;
}




 h2{

  color: #470121;
 }

 h1{

  color: #090809;

 }


 body {
   background-image: url('sam.jpg');
 }

 @media screen and (max-width:600px) {
  body {
    background-color:wheat;
  }
  }




.rdx{
    border: 50px black;
    border-radius: 5ch;
    background-color: tomato;
    padding: 50px;
    margin: 34px ;
    width:300px
   
    fit-content
}

 



.owais{
    border: 50px black;
    border-radius: 5ch;
    background-color: aquamarine;
    padding: 50px;
    margin: 34px ;
    width:300px
    fit-content
    
    
}

.owais1{
    border: 50px black;
    border-radius: 5ch;
    background-color: darksalmon;
    padding: 50px;
    margin: 34px ;
    width:300px
    fit-content
    
    
}

.owais2{
    border: 50px black;
    border-radius: 5ch;
    background-color: forestgreen;
    padding: 50px;
    margin: 34px ;
    width:300px
    fit-content
    
    
}

.owais3{
    border: 50px black;
    border-radius: 5ch;
    background-color: cornflowerblue;
    padding: 50px;
    margin: 34px ;
    width:300px
    fit-content
    
    
}

.owais4{
    border: 50px black;
    border-radius: 5ch;
    background-color: blueviolet;
    padding: 50px;
    margin: 34px ;
    width:300px
    fit-content
    
    
}









body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
