


h2{

  color: #470121;

}

h1{

  color: #d7044b;

}


body {
  background-color: wheat;
}

@media screen and (max-width:600px) {
  body {
    background-color:wheat;
  }


}






.dropbtn {
  background-color: #070707;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}







.dropbtn:hover, .dropbtn:focus {
  background-color: #470121;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.dropbtn {
  background-color: #101112;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}












.dropbtn2:hover, .dropbtn:focus {
  background-color: #470121;
}

.dropdow {
  position:relative ;
  display: inline-block;
}

.dropdow-content {
  display: none;
  position: absolute;
  background-color: #0f0c0c;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(12, 12, 12, 0.2);
  z-index: 1;
}

.dropdow-content a {
  color: rgb(227, 209, 209);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdow a:hover {background-color: #a20e0e;}

.show {display: block;}
